<div class="container">

      <div class="col-lg-12 col-md-12 col-sm-0 mx-auto">
            <nav id="nav1" class="navbar"> 
                    <ul  class="nav navbar-nav navbar-left">
                          <a href="/" >
                              <img src="static/app/assets/images/Logo.png" width="60%" >
                          </a> 
                          <h4 style="color: #9B9999;"><b><i>The people and the ideas running Russia</i></b></h4>
                    </ul>
                    
                    <ul id="icons" class="nav navbar-nav navbar-right">
                      <li>
                        <a href="https://www.facebook.com/noyardstick/" class="fa fa-facebook"></a>
                      </li>
                      <li>
                        <a href="https://twitter.com/NoYardstick" class="fa fa-twitter"></a>
                      </li>
                      <li>
                        <a (click)="dialog.openContact()" class="fa fa-envelope"></a>
                      </li>
                    </ul>
              </nav> 
              
                  <div class="jumbotron" style="margin-bottom:0; padding-bottom: 2%; padding-top: 2%;">
                          
                              <img src="static/app/assets/images/Kremlin.jpg" width="100%">
                     
                  </div>
                 
                  <nav id="nav2" class="navbar navbar-inverse navbar-expand-md">
                      
                      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" 
                      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                      aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="nav navbar-nav">
                  
                        <li id="link"
                            routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">
                          <a routerLink="/">Home</a>
                        </li>
                  
                        <li id="link" 
                            role="presentation" >
                          <a (click)="dialog.openAboutMe()">About</a>
                        </li>
                  
                        <li id="link"
                            role="presentation" 
                            routerLinkActive="active">
                          <a routerLink="/watchers">Russia watchers</a>
                        </li>
                      </ul>

                      <form  class="navbar-form navbar-right" style="margin-right: 0%;">
                        <button class="btn btn-danger" 
                                
                                (click)="dialog.openSubscriptionDialog()"
                                type="submit">Subscribe
                        </button>
                      </form>
                  
                  
                      <form (ngSubmit)="searchPosts()" [formGroup]="searchvalue" class="navbar-form navbar-right">
                        <div class="form-group">
                          <input 
                          class="form-control"
                          style="max-width: 150px;"
                          type="text"
                          formControlName="q" 
                          placeholder="e.g. Elections">
                        </div>
                        <button class="btn btn-default" type="submit">Search</button>
                      </form>

                    </div>  
                  </nav>
                  
                  <nav id="nav3" class="navbar navbar-default" >
                        
                         <ul class="nav navbar-nav">
                            <li *ngFor="let category of categories">
                              <a  [routerLink]="['/categories', category.name ]">
                                  <b>{{ category.name }}</b>
                              </a>
                            </li>
                        </ul>
                  </nav>        
      </div> 

           
      <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
        
          <router-outlet></router-outlet>
        
      </div>
      
    
</div>

<!-- Footer -->
<footer>

    <!-- Footer Elements -->
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center" >
        
              <img src="static/app/assets/images/Logo-2.png" width="200px" style="margin-top:2%; margin-bottom:2%;">
          
        </div>
        

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li style="margin: 0.5%">
          <a href="https://www.facebook.com/noyardstick/" class="fa fa-facebook" ></a>
        </li>
        <li style="margin: 0.5%">
            <a href="https://twitter.com/NoYardstick" class="fa fa-twitter" ></a>
        </li>
      </ul>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p>Political blog by András Tóth-Czifra</p>
        <p>Website by <u><a href="https://github.com/GennadiiTurutin">Gennadii Turutin</a></u></p>
    </div>

  </footer>