<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Dear subscriber,</h1>
        <p>We are happy to have you subscribed for our regular articles about Russia and the world.</p>
        <p>From now on you'll be receiving our news at {{ email }}</p>
        <p>If you want to unsubscribe, please click <a href="http://noyardstick-env.fyywwwfapj.us-west-2.elasticbeanstalk.com/unsubscribe/{{ id }}">here</a></p>
        <br>
        <p>Thank you,</p>
        <h2>Andras Toth-Zifra</h2>
    </body>
</html>