bin/
include/
lib/
*.py[cod]
*.sqlite3
pip-selfcheck.json
.env

backend/src/settings/local.py 
backend/src/settings/production.py 
backend/src/settings/base.py
backend/src/settings/keys.py 

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
