bin/
include/
lib/
*.py[cod]
*.sqlite3
pip-selfcheck.json
.env
backend/src/settings/keys.py 

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
