h4 {
    color: #FC4949;
}

.label:hover {
    filter: brightness(70%);
}

.label {
    background-color: #333435;
}

.glyphicon {
    color: #FC4949;
}

.list-group-item {
    background-color:#F6F5F3;
}

.list-group-item:hover {
    filter: brightness(95%);
}
