
<div class="col-lg-12 col-md-12 col-sm-12 mx-auto" style="margin-top: 5%; padding-left: 0%;">

  <div class="container">
    <h4> <span class="glyphicon glyphicon-fire">&nbsp;</span> Important </h4>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 mx-auto" style="margin-top: 5%; padding-left: 0%;">
    <a *ngFor="let post of posts_important | slice:0:2"
    [routerLink]="['/posts', post.id ]">
  
      <div class="col-xs-12"> 
        <div class="pull-left">
        <h4 class="list-group-item-heading">
          <b><span class="label label-primary">{{ post.title }}</span></b>
        </h4>
        </div>
      </div>
    </a>
    </div>
  </div>

    <div class="container">
      <h4> <span class="glyphicon glyphicon-book">&nbsp;</span> Long read </h4>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 mx-auto" style="margin-top: 5%; padding-left: 0%;">
        <a *ngFor="let post of posts_long  | slice:0:5"
        [routerLink]="['/posts', post.id ]">
      
        <div class="col-xs-12"> 
          <div class="pull-left">
            <h4 class="list-group-item-heading">
              <b><span class="label label-primary">{{ post.title }}</span></b>
            </h4>
          </div>
        </div>
        </a>
      </div>
    </div>


</div>



