  <div class="container"> 
    <div class="container" *ngIf="archive.posts?.length > 0">
      <h3>Posts for <span class="label label-default">{{ month }}&nbsp;{{ year }}</span>:</h3>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div *ngIf="archive">
      <a *ngFor="let post of archive.posts | paginate: { itemsPerPage: 5, currentPage: p }"
      [routerLink]="['/posts', post.id ]"> 
      <div id="result" class="col-lg-10 col-md-10 col-sm-10 mx-auto" >
        <h3><b>{{ post.title }}</b></h3>
        <h4>{{ post.subtitle | truncate : 300 : true }}</h4>
        <br>
      </div>
      </a>

      <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">
          <pagination-controls class="pagination-class"
          (pageChange)="p = $event">
          </pagination-controls>
      </div>
    </div>
    </div>
    <div class="container" *ngIf="archive.posts?.length === 0">
      <h3>Sorry...No posts for <span class="label label-deafult">{{ month }}&nbsp;{{ year }}</span></h3>
    </div>
</div>

  