
<div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
        <h1>What I read:</h1>

        <a href="#">
        <div class="jumbotron">
        <h2>Power Vertical – RFE/RL Russia blog by Brian Whitmore</h2>
        <p>Daily samples of Russia-related analysis and a weekly podcast</p>
        </div>
        </a>
        
        <div class="jumbotron">
        <h2>In Moscow’s Shadows</h2>
        <p> – the always astute Mark Galeotti on Russia</p>
        </div>

        <div class="jumbotron">
        <h2>Sean’s Russia Blog</h2>
        <p> – Sean Guillory about Russia yesterday, today, tomorrow, with a great weekly podcast</p>
        </div>

        <div class="jumbotron">
        <h2>Valery Solovei</h2>
        <p> – updates from behind the scenes of Russian politics on Facebook</p>
        </div>

        <div class="jumbotron">
        <h2>Politcom.ru</h2>
        <p> – analysis on Russia by Russian experts</p>
        </div>

        <div class="jumbotron">
        <h2>Robert Amsterdam</h2>
        <p> – summary of Russian news</p>
        </div>

        <div class="jumbotron">
        <h2>Open Democracy Russia</h2>
        <p> </p>
        </div>

        <div class="jumbotron">
        <h2>Alexei Navalny’s YouTube page</h2>
        <p>  – essential on corruption in Russia</p>
        </div>
        
        <div class="jumbotron">
        <h2>Novaya Gazeta</h2>
        <p> </p>
        </div>

        <div class="jumbotron">
        <h2>Echo Moskvy</h2>
        <p> </p>
        </div>

        <div class="jumbotron"> 
        <h2>Republic.ru</h2> 
        <p></p>
        </div>

        <div class="jumbotron">
        <h2>Dozhd TV</h2>
        <p></p>
        </div>

        <div class="jumbotron">
        <h2>Gazeta.ru</h2>
        <p></p>
        </div>
        
</div>

