    <div class="container">
      <h4> <span class="glyphicon glyphicon-tags">&nbsp;</span> Recent comments </h4>
    </div>
  
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 mx-auto" >
      <a *ngFor="let comment of comments | slice:0:5"
         [routerLink]="['/posts', comment.post ]">
          <div class="col-xs-12"> 
          <div class="pull-left">
            <div class="list-group-item-heading">
                <div id="comments" class="col-xs-12"> 
                  <p>{{ comment.author.username }} said:&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;</p>
                  <h5> {{ comment.content | truncate : 40 : true}}</h5>
                </div>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>
