:host {

    /* Backfround color */
    --background-color-1:white;
    --background-color-2: #F3F1F1;
    --background-color-3: #eaf0f9;
    --background-color-4: #333435;
  
    /* Font color */
    --font-color-1: white;
    --font-color-2: #FC4949;
    --font-color-3: black;
    --font-color-4: #9B9999;
    /* Size */
    --font-size-0: 40px;
    --font-size-1: 30px;
    --font-size-2: 20px;
    --font-size-3: 14px;
    /* Font style */
    --font-style-1: 'Roboto', sans-serif;
    /* Margin */
    --margin-1: 7%;
    --margin-2: 5%;
    --margin-3: 2%; 
    --margin-4: 0%;
  }

h4 {
    color: var(--font-color-2);
}

h5:not(.glyphicon) {
    color: var(--font-color-1);
    font-family: var(--font-style-1);
}

.glyphicon {
    color: var(--font-color-2);
}

p {
    color: var(--font-color-1);
    font-size: var(--font-size-3);
    font-family: var(--font-style-1);
    font-weight: bold;
}

.container {
    margin: var(--margin-2);
}

#comments {
    background-color: var(--background-color-4);
    margin: var(--margin-3);
    border-radius: 5px;
}

#comments:hover {
    filter: brightness(70%);
  }

