    <div class="container">
      <h4> <span class="glyphicon glyphicon-tags">&nbsp;</span> Recent comments </h4>
    </div>
  
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 mx-auto" >
      <a *ngFor="let comment of comments | slice:0:5"
      [routerLink]="['/posts', comment.post ]">
    
        <div id="comments" class="col-xs-12"> 
          <p>{{ comment.author.username }} said:</p>
         <h5><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;{{ comment.content | truncate : 40 : true}}</h5>
          
        </div>
      </a>
      </div>
    </div>


    