
<div mat-dialog-content>
<div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
    <h1 mat-dialog-title><b>About me</b></h1>
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <a href="/">
          <img src="static/app/assets/images/Profile.jpg" width="90%" alt="logo">
        </a>
      </div>

      <div class="col-lg-6 col-md-6 mx-auto"> 
        <h2><b>András <br>Tóth-Czifra</b></h2>
        <h4 style="color: #FC4949;">Political scientist <br>and<br> Russia watcher based in Berlin</h4>
        <br>
      </div>
      <hr>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
      <br>
        <h4 style="color: #9B9999;">
        This blog means to be a small contribution to the solution of the eternal question: <br>
        <b style="color: #FC4949;"><i>Who runs Russia and how?</i></b>
        <br> Opinions expressed here belong to me and me alone. 
        <br>Contributions, comments and sophisticated bad language are always welcome!
        </h4> 
    </div>
    <hr>

<div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
      <h4 style="color: #9B9999;"><i>
      Умом Россию не понять,
      Аршином общим не измерить:
      У ней особенная стать —
      В Россию можно только верить.
      <br><br>
      <b>(Федор Тютчев)</b>
      </i>
      </h4>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
      <h4 style="color: #9B9999;"><i>
      Who would grasp Russia with the mind?<br>
      For her no yardstick was created:<br>
      Her soul is of a special kind,<br>
      By faith alone appreciated.<br>
      <br>
      <b>(Fyodor Tyutchev, trans. by John Dewey)</b>
      </i>
      </h4>
    </div>
  </div>
</div>
</div>
</div>
<button mat-ripple mat-raised-button 
      type="button"
      (click)="Close()"> Close
      </button> 
