
<div mat-dialog-content>
<div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
    <h1 mat-dialog-title><b>About me</b></h1>
    <div class="row">

      <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <a href="/">
          <img src="static/app/assets/images/Profile.jpg" width="90%" alt="logo">
        </a>
      </div>

      <div class="col-lg-6 col-md-6 mx-auto"> 
        <h2><b>András <br>Tóth-Czifra</b></h2>
        <h3>Political scientist <br>and<br> Russia watcher based in Berlin</h3>
        <br>
      </div>
    </div>

<div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
      <h4>
      Умом Россию не понять,
      Аршином общим не измерить:
      У ней особенная стать —
      В Россию можно только верить.
      <br><br>
      <b>(Федор Тютчев)</b>
      </h4>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
      <h4>
      Who would grasp Russia with the mind?<br>
      For her no yardstick was created:<br>
      Her soul is of a special kind,<br>
      By faith alone appreciated.<br>
      <br>
      <b>(Fyodor Tyutchev, trans. by John Dewey)</b>
      </h4>
    </div>
  </div>
</div>
</div>
</div>
<button mat-ripple mat-raised-button 
      type="button"
      (click)="Close()"> Close
      </button> 
