<div class="col-lg-12 col-md-12 col-sm-12 mx-auto" style="min-height: 1000px;">
<div *ngIf="post">
  <div>
    <h4 id="category"><b>{{ post.category.name }}</b></h4>
</div>   
        <h2 style="text-align: center;"><b>{{ post.title }}</b></h2>\
        
        <h5 style="text-align: center; color: grey;" > {{ post.date_posted | date : "'published on ' MMMM d, y" }} </h5>

                <div class="col-lg-12 col-md-12 col-sm-12 mx-auto" style="margin-bottom: 2%;margin-top: 2%;">
                    <h4>
                    <a *ngFor="let tag of post.tags"
                      [routerLink]="['/tags', tag.name ]" >
                        <span class="label label-default">{{ tag.name }} </span>&nbsp;
                    </a>
                    </h4>
                </div>

        
        <h4><b>{{ post.subtitle }}</b></h4>
        <br>
      <h4>  
      <markdown ngPreserveWhitespaces>
        {{ post.content }} 
      </markdown>
      </h4> 
      <br><br>
      <hr>
  
      <disqus [identifier]=pageId ></disqus>
      

         
</div>
</div>
    

       
    








