<h1 mat-dialog-title><b>Subscription</b></h1>
<div mat-dialog-content>
  <p>If you want to subscribe for our updates, please enter your email</p>

<form (ngSubmit)="subscribeUser()" [formGroup]="userSubscribe">

    <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
      
      <div class="form-group">
        <mat-form-field class="example-full-width">

          <input 
          matInput
          formControlName="email"
          placeholder="Email">

          <mat-error *ngIf="userSubscribe.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>

          <mat-error *ngIf="userSubscribe.get('email').hasError('email')">
            Wrong email format
          </mat-error>

        </mat-form-field>
      </div>
        <br>


      <button mat-ripple mat-raised-button 
              type="submit" 
              [disabled]="userSubscribe.invalid || loading" 
              color="primary">
      Subscribe
      </button>&nbsp;
    </div>

</form>

    <button mat-ripple mat-raised-button (click)="Cancel()">
      Cancel
    </button>



