:host {

    /* Backfround color */
    --background-color-1:white;
    --background-color-2: #F3F1F1;
    --background-color-3: #eaf0f9;
    --background-color-4: #333435;
    --background-color-5: #F6F5F3;
  
    /* Font color */
    --font-color-1: white;
    --font-color-2: #FC4949;
    --font-color-3: black;
    --font-color-4: #9B9999;
    /* Size */
    --font-size-0: 40px;
    --font-size-1: 30px;
    --font-size-2: 20px;
    --font-size-3: 14px;
    /* Font style */
    --font-style-1: 'Roboto', sans-serif;
    /* Margin */
    --margin-1: 7%;
    --margin-2: 5%;
    --margin-3: 2%; 
    --margin-4: 0%;
  }
  
#post {
    background-color: var(--background-color-5);
    margin-bottom: var(--margin-2); 
  }
  

#category {
    color: var(--font-color-2);
    text-align: center;
    margin: var(--margin-2);
  }
  
#heading {
    color: var(--font-color-4);
    text-align: left;
  }
  
img {
    width: 100%;
    overflow: hidden;
  }
   
h1, h2, h3, h4, p {
      color: var(--font-color-3);
  }
  
  
.tag {
      padding: 10px;
      font-size: 20px;
      width: 10px;
      text-align: center;
      text-decoration: none;
      background: grey;
      color: white;
      width: 100px;
    }
  
.tag:hover {
      opacity: 0.7;
      
    }
  
#tag-div {
    margin: var(--margin-3);
  }
  
a:hover { 
      text-decoration: none;
   } 

#post:hover {
    filter: brightness(95%);
}

#post {
  padding:0%;
}


.label {
  background-color: #333435;
}

.pagination-class /deep/ .ngx-pagination .current {
  font-family: var(--font-style-1); 
  background-color: var(--background-color-4);
  font-size: 14px;
  font-weight: bold;
  
}
.pagination-class {
  text-align: right;
}
